$font-size-root: 1rem;

.full-height {
    height: 100% !important;
}
.primary--bg {
    background-color: #366786 !important;
}

.primary--text {
    color:#366786 !important;
}
.h-100 {
    height: 100% !important;
}

.w-45 {
    max-width: 45%;
}

.expand-card-table-container {
    height: calc(100vh - 32px - 48px);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.expand-card-table-container .v-data-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.v-data-table__wrapper {
    max-height: 738px !important;
}

.v-data-footer {
    justify-content: start !important;
}

.v-data-footer .v-data-footer__select {
    margin-left: 12px !important;
}

.lower-case:first-letter {
    text-transform: uppercase;
}

.w-100 {
    width: 100%;
}

.w-70{
    width: 70%;
}

.cursor-pointer {
    cursor: pointer;
}

.result-row:hover {
    background-color: grey;
}

.container {
    max-width: 100%;
}

.disabled-drawer {
    pointer-events: none !important;
    z-index: 210 !important;
}

.enabled-drawer {
    z-index: 301 !important;
}

.dialog-below-drawer {
    z-index: 6 !important;
}

.dashed,
.square {
    height: 100px !important;
    padding-top: 66.66% !important;
}

.square {
    padding-top: 90%;
    width: 90%;
}

.dashed {
    width: 100%;
    border: 2px dashed #e0e0e0;
    position: relative;
}

.input-loader-preview {
    background: #f0f0f0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    min-height: 100px;
    min-width: 100px;
    top: 0;
}

.img-preview {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: 50%;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-loader-preview .img-preview .btn {
    opacity: 0;
}

.input-loader-preview:hover .img-preview .btn {
    opacity: 1;
}

.input-loader-preview {
    background: #f0f0f0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    min-height: 100px;
    min-width: 100px;
    top: 0;
}

.input-loader-preview input {
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.input-loader-preview img {
    max-width: 85%;
    max-height: 85%;
    opacity: .5;
}

.cell-border-top {
    border-top: thin solid rgba(0, 0, 0, 0.12);
}

.data-table-only-header-border>div>table>tbody>tr>td {
    border-bottom: unset !important;
}

.data-table-no-borders>div>table>tbody>tr>td {
    border-bottom: unset !important;
}

.data-table-no-borders>div>table>thead>tr>th {
    border-bottom: unset !important;
}

thead th {
    white-space: nowrap;
}

.icon-flat {
    width: 24px;
    height: 16px;
}

.dialog-below-drawer {
    z-index: 6;
}

.logo-md {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.not-bordered {
    border: none !important;
}

/* Estilo global para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }
  
  /* Estilo para la pista de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo de la pista */
    border-radius: 10px; /* Bordes redondeados de la pista */
  }
  
  /* Estilo para la "thumb" de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color de la "thumb" */
    border-radius: 10px; /* Bordes redondeados de la "thumb" */
  }
  
  /* Estilo para la "thumb" al pasar el cursor sobre ella */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color de la "thumb" al pasar el cursor */
  }
  
  /* Para Firefox */
  * {
    scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
    scrollbar-color: #888 #f1f1f1; /* Color del "thumb" y la pista */
  }
  
  /* Aplica un cursor pointer y un efecto visual al pasar sobre las filas */
.clickable-rows tbody tr {
    cursor: pointer; /* Cambia el cursor al pasar sobre una fila */
    transition: background-color 0.2s ease;
  }
  
.clickable-rows tbody tr:hover {
    background-color: #f5f5f5; /* Color de fondo claro al pasar el mouse */
}